# Task 0

In [1]:
import pandas as pd
import numpy as np

from typing import List, Union, Optional

train: pd.DataFrame = pd.read_csv('train.csv')
test: pd.DataFrame = pd.read_csv('test.csv')

        Id           y           x1           x2           x3           x4  \
0        0  738.023171  1764.052346   400.157208   978.737984  2240.893199
1        1  400.646015   144.043571  1454.273507   761.037725   121.675016
2        2  189.900156 -2552.989816   653.618595   864.436199  -742.165020
3        3  -78.399449   154.947426   378.162520  -887.785748 -1980.796468
4        4 -547.373531 -1048.552965 -1420.017937 -1706.270191  1950.775395
...    ...         ...          ...          ...          ...          ...
9995  9995 -199.976500   -30.453041  1082.680684  -530.579767   602.366643
9996  9996   39.584572  2520.830358  -124.883939    18.067992  -998.622811
9997  9997   61.176538  -545.704959  1696.765630  -508.186053     3.620563
9998  9998 -202.136489  -367.787118  -568.357801  -721.247794   198.279702
9999  9999 -289.218996   428.570549  -164.999054   864.962658  -647.662456

               x5           x6           x7           x8           x9  \
0     1867.557990  -977.277880   950.088418  -151.357208  -103.218852
1      443.863233   333.674327  1494.079073  -205.158264   313.067702
2     2269.754624 -1454.365675    45.758517  -187.183850  1532.779214
3     -347.912149   156.348969  1230.290681  1202.379849  -387.326817
4     -509.652182  -438.074302 -1252.795360   777.490356 -1613.897848
...           ...          ...          ...          ...          ...
9995 -2138.290628   -56.632352  1166.444325  -772.096264  -908.987980
9996 -1262.733524  -565.107007  -455.238199   555.726945   994.368197
9997 -1018.514516   251.561864  -338.181817  1014.142886  -582.528063
9998  -217.422041   914.756550   443.756638  -306.203642  -949.055902
9999   720.057730  -337.714761 -2028.548436   726.181981 -1167.830521

              x10
0      410.598502
1     -854.095739
2     1469.358770
3     -302.302751
4     -212.740280
...           ...
9995  -414.216625
9996  -286.562290
9997   638.789847
9998  -448.083485
9999 -1285.207648

[10000 rows x 12 columns]

In [2]:
train.head()

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

In [5]:
train_mat: np.ndarray = train.to_numpy()
train_y: np.ndarray = train_mat[:, 1]
train_x: np.ndarray = train_mat[:, 2:]

In [ ]:
class Objective():
    def __call__(self, w):
        raise NotImplementedError()

    def grad(self, w):
        raise NotImplementedError()


class ObjFunc(Objective):
    def __init__(self):
        pass

    def __call__(self, w: np.ndarray) -> Union[float, np.ndarray]:
        pass

    def grad(self, w: np.ndarray) -> np.ndarray:
        pass