This file works as the data pre-processing experiment of the second task.

In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
import scipy

In [2]:
train_features = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')

train_features.head(13)

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,3,34.0,NaN,NaN,12.0,NaN,36.0,8.7,24.0,...,NaN,100.0,NaN,114.0,24.6,94.0,NaN,NaN,142.0,7.33
1,1,4,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,99.0,NaN,NaN,125.0,7.33
2,1,5,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,92.0,NaN,NaN,110.0,7.37
3,1,6,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,88.0,NaN,NaN,104.0,7.37
4,1,7,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.0,NaN,NaN,22.4,81.0,NaN,NaN,100.0,7.41
5,1,8,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,22.4,82.0,NaN,NaN,106.0,NaN
6,1,9,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,67.0,NaN,NaN,112.0,NaN
7,1,10,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,62.0,NaN,NaN,121.0,NaN
8,1,11,34.0,NaN,NaN,12.0,NaN,NaN,8.5,26.0,...,NaN,100.0,NaN,111.0,23.8,58.0,NaN,NaN,118.0,NaN
9,1,12,34.0,NaN,NaN,12.0,NaN,38.0,8.5,26.0,...,NaN,100.0,NaN,111.0,23.8,66.0,NaN,NaN,110.0,7.39
10,1,13,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,67.0,NaN,NaN,124.0,7.39
11,1,14,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.0,NaN,NaN,22.2,69.0,NaN,NaN,102.0,NaN
12,10,1,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
num_of_patient = train_features.pid.nunique()  # number of patients

In [4]:
train_features.count()

pid                 227940
Time                227940
Age                 227940
EtCO2                 9783
PTT                  10299
BUN                  20105
Lactate              10756
Temp                 81115
Hgb                  22295
HCO3                 12559
BaseExcess           19887
RRate               187785
Fibrinogen            2493
Phosphate            11590
WBC                  19083
Creatinine           17792
PaCO2                21043
AST                   5761
FiO2                 26602
Platelets            18035
SaO2                 13014
Glucose              47036
ABPm                195889
Magnesium            17523
Potassium            28393
ABPd                152418
Calcium              17830
Alkalinephos          5708
SpO2                195192
Bilirubin_direct       719
Chloride             13917
Hct                  27297
Heartrate           200128
Bilirubin_total       5326
TroponinI             3776
ABPs                191650
pH                   25046
dtype: int64

In [5]:
DEL_threshold = 1 - 0.95
DEL_threshold *= train_features.shape[0]

train_features_sel = train_features.dropna(axis=1, how='any', thresh=DEL_threshold)
train_features_sel

,pid,Time,Age,BUN,Temp,Hgb,HCO3,BaseExcess,RRate,Phosphate,...,Magnesium,Potassium,ABPd,Calcium,SpO2,Chloride,Hct,Heartrate,ABPs,pH
0,1,3,34.0,12.0,36.0,8.7,24.0,-2.0,16.0,NaN,...,1.2,3.8,61.0,NaN,100.0,114.0,24.6,94.0,142.0,7.33
1,1,4,34.0,NaN,36.0,NaN,NaN,-2.0,16.0,NaN,...,NaN,NaN,62.5,NaN,100.0,NaN,NaN,99.0,125.0,7.33
2,1,5,34.0,NaN,36.0,NaN,NaN,0.0,18.0,NaN,...,NaN,NaN,59.0,NaN,100.0,NaN,NaN,92.0,110.0,7.37
3,1,6,34.0,NaN,37.0,NaN,NaN,0.0,18.0,NaN,...,NaN,NaN,49.5,NaN,100.0,NaN,NaN,88.0,104.0,7.37
4,1,7,34.0,NaN,NaN,NaN,NaN,NaN,18.0,NaN,...,1.8,NaN,48.0,NaN,100.0,NaN,22.4,81.0,100.0,7.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227935,9999,8,85.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,110.0,NaN
227936,9999,9,85.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,123.0,NaN
227937,9999,10,85.0,NaN,36.0,NaN,NaN,NaN,22.0,NaN,...,NaN,NaN,NaN,NaN,98.0,NaN,NaN,80.0,138.0,NaN
227938,9999,11,85.0,NaN,NaN,10.2,NaN,NaN,22.0,NaN,...,NaN,NaN,NaN,NaN,98.0,NaN,31.0,75.0,125.0,NaN
227939,9999,12,85.0,NaN,NaN,NaN,NaN,NaN,24.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0,128.0,NaN

In [6]:
train_features_sel.iloc[:, 2:]

,Age,BUN,Temp,Hgb,HCO3,BaseExcess,RRate,Phosphate,WBC,Creatinine,...,Magnesium,Potassium,ABPd,Calcium,SpO2,Chloride,Hct,Heartrate,ABPs,pH
0,34.0,12.0,36.0,8.7,24.0,-2.0,16.0,NaN,6.3,NaN,...,1.2,3.8,61.0,NaN,100.0,114.0,24.6,94.0,142.0,7.33
1,34.0,NaN,36.0,NaN,NaN,-2.0,16.0,NaN,NaN,NaN,...,NaN,NaN,62.5,NaN,100.0,NaN,NaN,99.0,125.0,7.33
2,34.0,NaN,36.0,NaN,NaN,0.0,18.0,NaN,NaN,NaN,...,NaN,NaN,59.0,NaN,100.0,NaN,NaN,92.0,110.0,7.37
3,34.0,NaN,37.0,NaN,NaN,0.0,18.0,NaN,NaN,NaN,...,NaN,NaN,49.5,NaN,100.0,NaN,NaN,88.0,104.0,7.37
4,34.0,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,...,1.8,NaN,48.0,NaN,100.0,NaN,22.4,81.0,100.0,7.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227935,85.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,110.0,NaN
227936,85.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,123.0,NaN
227937,85.0,NaN,36.0,NaN,NaN,NaN,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.0,NaN,NaN,80.0,138.0,NaN
227938,85.0,NaN,NaN,10.2,NaN,NaN,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.0,NaN,31.0,75.0,125.0,NaN
227939,85.0,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0,128.0,NaN

In [7]:
train_mat = train_features_sel.iloc[:, 2:].to_numpy()
train_mat = train_mat.reshape(num_of_patient, 12, -1)

In [8]:
pids = train_features.pid.to_numpy()

In [40]:
def interpolate(mat: np.ndarray, pid_ind: int, col_ind: int) -> np.ndarray:
    data = mat.copy()
    patdata = data[pid_ind]
    isnan_ind = np.nonzero(np.isnan(patdata[:, col_ind]))[0]
    notnan_ind = np.nonzero(1 - np.isnan(patdata[:, col_ind]))[0]
    assert 0 < isnan_ind.shape[0] <= patdata.shape[0] - 2
    # print(patdata[notnan_ind, col_ind])
    lreg = LinearRegression()
    # TODO: generate the sample weight so that the nearby data weighs more than the far ones
    lreg.fit(notnan_ind.reshape(-1, 1), patdata[notnan_ind, col_ind])
    patdata[isnan_ind, col_ind] = lreg.predict(isnan_ind.reshape(-1, 1))
    print(patdata[:, col_ind])
    data[pid_ind] = patdata
    print(data[pid_ind])
    return data

t = interpolate(mat=train_mat, pid_ind=0, col_ind=2)

[36.         36.         36.         37.         36.72413793 37.
 37.         37.         37.55172414 38.         37.96551724 38.17241379]
[[ 34.          12.          36.           8.7         24.
   -2.          16.                  nan   6.3                 nan
   45.                  nan          nan          nan          nan
   84.           1.2          3.8         61.                  nan
  100.         114.          24.6         94.         142.
    7.33      ]
 [ 34.                  nan  36.                  nan          nan
   -2.          16.                  nan          nan          nan
           nan   0.5                 nan          nan          nan
   81.                  nan          nan  62.5                 nan
  100.                  nan          nan  99.         125.
    7.33      ]
 [ 34.                  nan  36.                  nan          nan
    0.          18.                  nan          nan          nan
   43.           0.4                 nan          nan          nan
   74.                  nan          nan  59.                  nan
  100.                  nan          nan  92.         110.
    7.37      ]
 [ 34.                  nan  37.                  nan          nan
    0.          18.                  nan          nan          nan
           nan          nan          nan          nan          nan
   66.                  nan          nan  49.5                 nan
  100.                  nan          nan  88.         104.
    7.37      ]
 [ 34.                  nan  36.72413793          nan          nan
           nan  18.                  nan          nan          nan
           nan          nan          nan          nan          nan
   63.           1.8                 nan  48.                  nan
  100.                  nan  22.4         81.         100.
    7.41      ]
 [ 34.                  nan  37.                  nan          nan
           nan  16.                  nan          nan          nan
           nan   0.4                 nan          nan          nan
   68.           1.8                 nan  51.                  nan
  100.                  nan  22.4         82.         106.
           nan]
 [ 34.                  nan  37.                  nan          nan
           nan  18.                  nan          nan          nan
           nan          nan          nan          nan          nan
   65.                  nan          nan  46.                  nan
  100.                  nan          nan  67.         112.
           nan]
 [ 34.                  nan  37.                  nan          nan
           nan  18.                  nan          nan          nan
           nan          nan          nan          nan          nan
   68.                  nan          nan  47.                  nan
  100.                  nan          nan  62.         121.
           nan]
 [ 34.          12.          37.55172414   8.5         26.
           nan  12.           4.6          4.7          0.5
           nan          nan 143.                  nan 120.
   67.           2.1          4.1         47.           7.6
  100.         111.          23.8         58.         118.
           nan]
 [ 34.          12.          38.           8.5         26.
    0.          18.                  nan   4.7                 nan
   42.           0.4                 nan          nan          nan
   62.           2.1          4.1         44.                  nan
  100.         111.          23.8         66.         110.
    7.39      ]
 [ 34.                  nan  37.96551724          nan          nan
    0.          18.                  nan          nan          nan
           nan          nan          nan          nan          nan
   69.                  nan          nan  49.                  nan
  100.                  nan          nan  67.         124.
    7.39      ]
 [ 34.                  nan  38.17241379          nan          nan
           nan  18.                  nan          nan          nan
           nan          nan          nan          nan          nan
   53.                  nan          nan  39.                  nan
  100.                  nan  22.2         69.         102.
           nan]]

In [15]:
from sklearn.impute import KNNImputer

def imputer(mat: np.ndarray, pid_ind: int, col_ind: int) -> np.ndarray:
    imp = KNNImputer(n_neighbors=5, weights="distance")
    x = imp.fit_transform(X=mat[pid_ind, :, :])
    return x

imputer(mat=train_mat, pid_ind=0, col_ind=2)

array([[ 3.40000000e+01,  1.20000000e+01,  3.60000000e+01,
         8.70000000e+00,  2.40000000e+01, -2.00000000e+00,
         1.60000000e+01,  4.60000000e+00,  6.30000000e+00,
         5.00000000e-01,  4.50000000e+01,  4.40489176e-01,
         1.43000000e+02,  1.20000000e+02,  8.40000000e+01,
         1.20000000e+00,  3.80000000e+00,  6.10000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.14000000e+02,
         2.46000000e+01,  9.40000000e+01,  1.42000000e+02,
         7.33000000e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.60000000e+01,
         8.61475178e+00,  2.48524822e+01, -2.00000000e+00,
         1.60000000e+01,  4.60000000e+00,  5.61801423e+00,
         5.00000000e-01,  4.36473706e+01,  5.00000000e-01,
         1.43000000e+02,  1.20000000e+02,  8.10000000e+01,
         1.66112393e+00,  3.92787233e+00,  6.25000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.12721277e+02,
         2.35931233e+01,  9.90000000e+01,  1.25000000e+02,
         7.33000000e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.60000000e+01,
         8.57145333e+00,  2.52854667e+01,  0.00000000e+00,
         1.80000000e+01,  4.60000000e+00,  5.27162660e+00,
         5.00000000e-01,  4.30000000e+01,  4.00000000e-01,
         1.43000000e+02,  1.20000000e+02,  7.40000000e+01,
         1.79027176e+00,  3.99282001e+00,  5.90000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.12071800e+02,
         2.29779184e+01,  9.20000000e+01,  1.10000000e+02,
         7.37000000e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.70000000e+01,
         8.55069584e+00,  2.54930416e+01,  0.00000000e+00,
         1.80000000e+01,  4.60000000e+00,  5.10556669e+00,
         5.00000000e-01,  4.30250483e+01,  4.11930728e-01,
         1.43000000e+02,  1.20000000e+02,  6.60000000e+01,
         1.82021209e+00,  4.02395625e+00,  4.95000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.11760438e+02,
         2.26646389e+01,  8.80000000e+01,  1.04000000e+02,
         7.37000000e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.70350408e+01,
         8.53763581e+00,  2.56236419e+01, -1.83670346e-01,
         1.80000000e+01,  4.60000000e+00,  5.00108648e+00,
         5.00000000e-01,  4.28757428e+01,  4.10162575e-01,
         1.43000000e+02,  1.20000000e+02,  6.30000000e+01,
         1.80000000e+00,  4.04354628e+00,  4.80000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.11564537e+02,
         2.24000000e+01,  8.10000000e+01,  1.00000000e+02,
         7.41000000e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.70000000e+01,
         8.54167347e+00,  2.55832653e+01, -1.97625654e-01,
         1.60000000e+01,  4.60000000e+00,  5.03338774e+00,
         5.00000000e-01,  4.29448006e+01,  4.00000000e-01,
         1.43000000e+02,  1.20000000e+02,  6.80000000e+01,
         1.80000000e+00,  4.03748980e+00,  5.10000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.11625102e+02,
         2.24000000e+01,  8.20000000e+01,  1.06000000e+02,
         7.38587371e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.70000000e+01,
         8.51305852e+00,  2.58694148e+01, -1.19423887e-01,
         1.80000000e+01,  4.60000000e+00,  4.80446813e+00,
         5.00000000e-01,  4.23424709e+01,  4.06975844e-01,
         1.43000000e+02,  1.20000000e+02,  6.50000000e+01,
         1.98108520e+00,  4.08041223e+00,  4.60000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.11195878e+02,
         2.32893434e+01,  6.70000000e+01,  1.12000000e+02,
         7.38871871e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.70000000e+01,
         8.52116635e+00,  2.57883365e+01, -1.53011563e-01,
         1.80000000e+01,  4.60000000e+00,  4.86933083e+00,
         5.00000000e-01,  4.27746190e+01,  4.14226254e-01,
         1.43000000e+02,  1.20000000e+02,  6.80000000e+01,
         1.95354240e+00,  4.06825047e+00,  4.70000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.11317495e+02,
         2.32758209e+01,  6.20000000e+01,  1.21000000e+02,
         7.38821137e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.71940546e+01,
         8.50000000e+00,  2.60000000e+01, -2.22882568e-01,
         1.20000000e+01,  4.60000000e+00,  4.70000000e+00,
         5.00000000e-01,  4.27245030e+01,  4.11093028e-01,
         1.43000000e+02,  1.20000000e+02,  6.70000000e+01,
         2.10000000e+00,  4.10000000e+00,  4.70000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.11000000e+02,
         2.38000000e+01,  5.80000000e+01,  1.18000000e+02,
         7.38415616e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.80000000e+01,
         8.50000000e+00,  2.60000000e+01,  0.00000000e+00,
         1.80000000e+01,  4.60000000e+00,  4.70000000e+00,
         5.00000000e-01,  4.20000000e+01,  4.00000000e-01,
         1.43000000e+02,  1.20000000e+02,  6.20000000e+01,
         2.10000000e+00,  4.10000000e+00,  4.40000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.11000000e+02,
         2.38000000e+01,  6.60000000e+01,  1.10000000e+02,
         7.39000000e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.71779132e+01,
         8.53375258e+00,  2.56624742e+01,  0.00000000e+00,
         1.80000000e+01,  4.60000000e+00,  4.97002066e+00,
         5.00000000e-01,  4.29343611e+01,  4.17197762e-01,
         1.43000000e+02,  1.20000000e+02,  6.90000000e+01,
         1.90216097e+00,  4.04937113e+00,  4.90000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.11506289e+02,
         2.31628192e+01,  6.70000000e+01,  1.24000000e+02,
         7.39000000e+00],
       [ 3.40000000e+01,  1.20000000e+01,  3.73053364e+01,
         8.52552383e+00,  2.57447617e+01, -1.91398623e-01,
         1.80000000e+01,  4.60000000e+00,  4.90419061e+00,
         5.00000000e-01,  4.26425994e+01,  4.11177905e-01,
         1.43000000e+02,  1.20000000e+02,  5.30000000e+01,
         1.90552515e+00,  4.06171426e+00,  3.90000000e+01,
         7.60000000e+00,  1.00000000e+02,  1.11382857e+02,
         2.22000000e+01,  6.90000000e+01,  1.02000000e+02,
         7.38942386e+00]])

In [16]:
train_mat[0, :, :]

array([[ 34.  ,  12.  ,  36.  ,   8.7 ,  24.  ,  -2.  ,  16.  ,    nan,
          6.3 ,    nan,  45.  ,    nan,    nan,    nan,    nan,  84.  ,
          1.2 ,   3.8 ,  61.  ,    nan, 100.  , 114.  ,  24.6 ,  94.  ,
        142.  ,   7.33],
       [ 34.  ,    nan,  36.  ,    nan,    nan,  -2.  ,  16.  ,    nan,
           nan,    nan,    nan,   0.5 ,    nan,    nan,    nan,  81.  ,
           nan,    nan,  62.5 ,    nan, 100.  ,    nan,    nan,  99.  ,
        125.  ,   7.33],
       [ 34.  ,    nan,  36.  ,    nan,    nan,   0.  ,  18.  ,    nan,
           nan,    nan,  43.  ,   0.4 ,    nan,    nan,    nan,  74.  ,
           nan,    nan,  59.  ,    nan, 100.  ,    nan,    nan,  92.  ,
        110.  ,   7.37],
       [ 34.  ,    nan,  37.  ,    nan,    nan,   0.  ,  18.  ,    nan,
           nan,    nan,    nan,    nan,    nan,    nan,    nan,  66.  ,
           nan,    nan,  49.5 ,    nan, 100.  ,    nan,    nan,  88.  ,
        104.  ,   7.37],
       [ 34.  ,    nan,    nan,    nan,    nan,    nan,  18.  ,    nan,
           nan,    nan,    nan,    nan,    nan,    nan,    nan,  63.  ,
          1.8 ,    nan,  48.  ,    nan, 100.  ,    nan,  22.4 ,  81.  ,
        100.  ,   7.41],
       [ 34.  ,    nan,  37.  ,    nan,    nan,    nan,  16.  ,    nan,
           nan,    nan,    nan,   0.4 ,    nan,    nan,    nan,  68.  ,
          1.8 ,    nan,  51.  ,    nan, 100.  ,    nan,  22.4 ,  82.  ,
        106.  ,    nan],
       [ 34.  ,    nan,  37.  ,    nan,    nan,    nan,  18.  ,    nan,
           nan,    nan,    nan,    nan,    nan,    nan,    nan,  65.  ,
           nan,    nan,  46.  ,    nan, 100.  ,    nan,    nan,  67.  ,
        112.  ,    nan],
       [ 34.  ,    nan,  37.  ,    nan,    nan,    nan,  18.  ,    nan,
           nan,    nan,    nan,    nan,    nan,    nan,    nan,  68.  ,
           nan,    nan,  47.  ,    nan, 100.  ,    nan,    nan,  62.  ,
        121.  ,    nan],
       [ 34.  ,  12.  ,    nan,   8.5 ,  26.  ,    nan,  12.  ,   4.6 ,
          4.7 ,   0.5 ,    nan,    nan, 143.  ,    nan, 120.  ,  67.  ,
          2.1 ,   4.1 ,  47.  ,   7.6 , 100.  , 111.  ,  23.8 ,  58.  ,
        118.  ,    nan],
       [ 34.  ,  12.  ,  38.  ,   8.5 ,  26.  ,   0.  ,  18.  ,    nan,
          4.7 ,    nan,  42.  ,   0.4 ,    nan,    nan,    nan,  62.  ,
          2.1 ,   4.1 ,  44.  ,    nan, 100.  , 111.  ,  23.8 ,  66.  ,
        110.  ,   7.39],
       [ 34.  ,    nan,    nan,    nan,    nan,   0.  ,  18.  ,    nan,
           nan,    nan,    nan,    nan,    nan,    nan,    nan,  69.  ,
           nan,    nan,  49.  ,    nan, 100.  ,    nan,    nan,  67.  ,
        124.  ,   7.39],
       [ 34.  ,    nan,    nan,    nan,    nan,    nan,  18.  ,    nan,
           nan,    nan,    nan,    nan,    nan,    nan,    nan,  53.  ,
           nan,    nan,  39.  ,    nan, 100.  ,    nan,  22.2 ,  69.  ,
        102.  ,    nan]])